*.o
*.a
*.mod

fem3d/basbathy
fem3d/basinf
fem3d/bastreat
fem3d/extinf
fem3d/flxinf
fem3d/ht
fem3d/laplap
fem3d/lapwin
fem3d/nosextr_custom
fem3d/nosextr_gis
fem3d/nosextr_nodes
fem3d/nosextr_records
fem3d/nosinf
fem3d/nosinit
fem3d/nosresidence
fem3d/nossplit
fem3d/ousextr_records
fem3d/ousinf
fem3d/rstinf
fem3d/scal_intp
fem3d/splitext
fem3d/splitflx
fem3d/tmp0.tmp
fem3d/tmp2.tmp
fem3d/volinf
fem3d/vp
fem3d/wininf
femadj/adjele
fembin/extDiff
fembin/extMerge
femplot/line_nodes
femplot/plotsim
femspline/gridr
grid/grid
mesh/exgrd
mesh/mesh

