
#-----------------------------------------------

arc
test
tmp
newtmp
mod

lib
#bin
#fem3d/bin
bugs

femmpi
rules
stable
femdoc/old/

#-----------------------------------------------

*.o
*.a
*.mod
*.stp
*.tmp
*.bak
*.swp
*__genmod.f90

#-----------------------------------------------

.directory
.bash_eternal_history
a.out
DIFFS
CHECKLOG
errout.dat
fem3d/main_dummy.f

#-----------------------------------------------

femdoc/P_*.tex
femdoc/S_*.tex
femdoc/shyfem.aux
femdoc/shyfem.bbl
femdoc/shyfem.blg
femdoc/shyfem.dvi
femdoc/shyfem.log
femdoc/shyfem.pdf
femdoc/shyfem.ps
femdoc/shyfem.toc

fem3d/basbathy
fem3d/basinf
fem3d/bastreat
fem3d/extinf
fem3d/flxinf
fem3d/ht
fem3d/laplap
fem3d/lapwin
fem3d/nosextr_custom
fem3d/nosextr_gis
fem3d/nosextr_nodes
fem3d/nosextr_records
fem3d/nosinf
fem3d/nosinit
fem3d/nosdiff
fem3d/nosresidence
fem3d/nossplit
fem3d/nossum
fem3d/ousextr_records
fem3d/ousinf
fem3d/ouswork
fem3d/rstinf
fem3d/scal_intp
fem3d/splitext
fem3d/splitext_big
fem3d/splitflx
fem3d/tmp0.tmp
fem3d/tmp2.tmp
fem3d/volinf
fem3d/vp
fem3d/wininf
fem3d/windcrea
fem3d/winmerge
fem3d/winshift
fem3d/ousintp
fem3d/ousaver
fem3d/map_influence
fem3d/basproj
fem3d/basres
fem3d/ousextr_nodes
fem3d/nosextr_cat
fem3d/ousextr_cat
fem3d/nosextr_fluxes
fem3d/bashsigma
fem3d/ous2nc
fem3d/ous2nc_reg
fem3d/nos2nc
fem3d/nos2nc_reg
fem3d/ts2nc
fem3d/lgrinf
fem3d/baswork
fem3d/ouswrite
fem3d/eosinf
fem3d/fileinf
fem3d/noswrite
fem3d/basbox
fem3d/feminf
fem3d/filetype
fem3d/tsinf
fem3d/femelab
fem3d/offinf
fem3d/nos_elab
fem3d/etsinf
fem3d/splitets
fem3d/optintp
fem3d/nosadmin
fem3d/scalintp
fem3d/mkgeom
fem3d/check_debug
fem3d/baschk
fem3d/bascomp
fem3d/ousvdiff
fem3d/zinit
fem3d/noselab
fem3d/ouselab
fem3d/shyelab
fem3d/shyfem
fem3d/shypre

femadj/adjele
fembin/extDiff
fembin/extMerge
femplot/line_nodes
femplot/plotsim
femplot/lagxitest
femspline/gridr
grid/grid
mesh/exgrd
mesh/mesh
post/demopost

femcheck/CHECKLOG
femcheck/test.c
femcheck/test.f

fem3d/nosaver_basin
fem3d/nosaver_time
fem3d/nosaver_vert
fem3d/nosaverf
fem3d/ousextr_gis
fem3d/prep_input
fem3d/win2fem
fem3d/bc2fem

fembin/extinf
fembin/flxinf
fembin/ht
fembin/nosinf
fembin/nossplit
fembin/ousinf
fembin/rstinf
fembin/splitext
fembin/splitflx
fembin/nosextr_nodes
fembin/volinf
fembin/vp
fembin/wininf
fembin/basinf
fembin/feminf
fembin/filetype
fembin/tsinf
fembin/offinf
fembin/lgrinf
fembin/etsinf
fembin/fileinf
fembin/splitets
fembin/bc2fem
fembin/noselab
fembin/ouselab
fembin/shyelab
fembin/shyfem
fembin/shypre

fembin/grid
fembin/mesh
fembin/exgrd

